{% extends "admin.html.twig" %}
{% trans_default_domain 'admin_product' %}


{% block page_title %}
    {{ 'product.home' | trans }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    {{ render(controller('App\\Controller\\Sutekina\\Admin\\AdminIndexController::sidebar', { 'categoryActive': 'product', 'sousCategoryActive' : 'box_create' })) }}

    <section class="content">
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    {{ form_start(form) }}
                    <div class="card">
                        <div class="header">
                            <h2>
                                {{ 'product.home' | trans }}
                                {#{{ dump(products) }}#}
                            </h2>
                        </div>
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <div class="form-group">

                                        <div class="form-line">
                                            {{ form_widget(form.name) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="form-line">
                                            {{ form_widget(form.budget) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <div id="DataTables_Table_0_wrapper"
                                     class="dataTables_wrapper form-inline dt-bootstrap">
                                    <div class="row">
                                        <div class="col-sm-12">
                                                <table class="table table-bordered table-striped table-hover js-basic-example dataTable"
                                                       id="DataTables_Table" role="grid"
                                                       aria-describedby="DataTables_Table_0_info">
                                                    <thead>
                                                    <tr>
                                                        <th rowspan="1" colspan="1">{{ 'product.select' | trans }}</th>
                                                        <th rowspan="1" colspan="1">{{ 'product.name' | trans }}</th>
                                                        <th rowspan="1" colspan="1">{{ 'product.price' | trans }}</th>
                                                        <th rowspan="1" colspan="1">{{ 'product.supplier' | trans }}</th>
                                                    </tr>
                                                    </thead>
                                                    <tfoot>
                                                    <tr>
                                                        <th rowspan="1" colspan="1">{{ 'product.select' | trans }}</th>
                                                        <th rowspan="1" colspan="1">{{ 'product.name' | trans }}</th>
                                                        <th rowspan="1" colspan="1">{{ 'product.price' | trans }}</th>
                                                        <th rowspan="1" colspan="1">{{ 'product.supplier' | trans }}</th>
                                                    </tr>
                                                    </tfoot>
                                                    <tbody>
                                                    {% for product in form.products %}

                                                        <tr role="row">
                                                            <td class="text-center">
                                                                {{ form(product) }}
                                                            <td class="text-center">{{ product.vars.value.name }}</td>
                                                            <td class="text-center">{{ product.vars.value.price }}</td>
                                                            <td class="text-center">{{ product.vars.value.supplierId.name }}</td>
                                                        </tr>
                                                    {% endfor %}

                                                    </tbody>
                                                </table>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block final_javascripts %}
    {{ parent() }}
    <script>
        $(document).ready( function () {
            $('#DataTables_Table').DataTable();
        } );
    </script>
    <script src="{{ asset('plugins/jquery-datatable/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js') }}"></script>
{% endblock %}