{#Pour définir le fichier de translation à utiliser#}

{#<nav class="navbar navbar-expand-lg navbar-light bg-light">#}
    {#<a class="navbar-brand mb-0 h1" href="#">Suketina Box</a>#}
    {#<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">#}
        {#<span class="navbar-toggler-icon"></span>#}
    {#</button>#}

    {#<div class="collapse navbar-collapse" id="navbarSupportedContent">#}
        {#<ul class="navbar-nav mr-auto">#}
           {##}
        {#</ul>#}
    {#</div>#}
{#</nav>#}
<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
            <a href="javascript:void(0);" class="bars" style="display: none;"></a>
            <a class="navbar-brand" href="../../index.html">SUTEKINABOX </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                            Administration
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li>   <a class="dropdown-item" href="{{ path('admin_index') }}">Zone admin</a></li>
                        </ul>
                    </li>
                {% endif %}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="nav-item">
                        {#<a href="{{ path('security_logout') }}">{{ 'nav.logout' | trans }} </a>#}
                        <a href="{{ path('security_logout') }}" class="nav-link">Déconnexion </a>
                    </li>
                {% else %}
                    <li {% if (active == 'adduser') %} class="current" {% endif %} class="nav-item">
                        {#<a href="{{ path('security_register') }}">{{ 'nav.register' | trans }} </a>#}
                        <a href="{{ path('security_register') }}" class="nav-link">Inscription </a>
                    </li>
                    <li {% if (active == 'login') %} class="current" {% endif %} class="nav-item">
                        {#<a href="{{ path('security_login') }}">{{ 'nav.login' | trans }} </a>#}
                        <a href="{{ path('security_login') }}" class="nav-link">Connexion</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>